<!DOCTYPE html>
<html>
<head>
    <title>MediBay | Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <% include partials/header %>
    <div class="container">
        <div class="col mb-1">
            <p id="market-head">
                Click to open and Request the medicine.
            </p>
            <% for(var i = 0; i< medicine.length; i++) { %>
                <hr>
                <!-- <p><span id="photo"><image src="medicine[i].photo"></image></span></p> -->
                <a href="/medicine"><span id="name"><%= medicine[i].name %></span></a>
                <p><span id="sp"><%= medicine[i].sp %></span>
                    <span id="mrp"><strike><%= medicine[i].mrp %></strike></span></p>
                <p><span id="quantity"><%= medicine[i].quantity %></span></p>
                <p><span id="expiry"><%= medicine[i].expiry %></span></p>
            <% } %>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>